<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="craftersmine.MinecraftLauncher2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <craftersmine.MinecraftLauncher2.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxAllocatedMemory" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="FirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastBuildId" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadedContentStorage" serializeAs="String">
                <value />
            </setting>
            <setting name="IsJreInstalled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseInternalJre" serializeAs="String">
                <value>True</value>
            </setting>
        </craftersmine.MinecraftLauncher2.Properties.Settings>
    </userSettings>
</configuration>